.tabs { width: 100%; padding: 0px; margin-bottom: 10px; }
.tabs>input { display: none; }
.tabs>div {
    display: none;
    padding: 12px;
    border: 1px solid rgb(192, 192, 192);
    background: #FFFFFF;
    border-bottom-style: none;
}
.tabs>label {
    display: inline-block;
    padding: 7px;
    margin: 0 -5px -1px 0;
    text-align: center;
    color: #666666;
    border: 1px solid #C0C0C0;
    background: #E0E0E0;
    cursor: pointer;
}
.tabs>input:checked + label {
    color: #000000;
    border: 1px solid #C0C0C0;
    border-bottom: 1px solid #FFFFFF;
    background: #FFFFFF;
}
#tab_1:checked ~ #txt_1,
#tab_2:checked ~ #txt_2 { display: block; }

#comment {
    height:100px;
}
.avatar, .messages {
    padding:10px;
}

.avatar {
    width: 100px;
}

.votes_container {
    margin: 10px;
    width: 100%;
    
}

.votes {
    padding: 10px;
    height: 100px;
    width: 100%;
    border: 1px solid #C0C0C0;
}
